<div class='container'>
  <div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>

    <div class="card-body">
      <form novalidate
            (ngSubmit)="login(loginForm)"
            #loginForm="ngForm"
            autocomplete="off">
        <fieldset>
          <div class="row mb-3">
            <label class="col-md-2 form-label"
                   for="userNameId"
                   [ngClass]="{'text-danger': (userNameVar.touched || 
                                               userNameVar.dirty) && 
                                               !userNameVar.valid }">
              User Name
            </label>

            <div class="col-md-8">
              <input class="form-control"
                     id="userNameId"
                     type="text"
                     placeholder="User Name (required)"
                     required
                     ngModel
                     name="userName"
                     #userNameVar="ngModel"
                     [ngClass]="{'is-invalid': (userNameVar.touched || 
                                                userNameVar.dirty) && 
                                                !userNameVar.valid }" />
              <span class="invalid-feedback">
                <span *ngIf="userNameVar.errors?.['required']">
                  User name is required.
                </span>
              </span>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-md-2 form-label"
                   for="passwordId"
                   [ngClass]="{'text-danger': (passwordVar.touched || 
                                               passwordVar.dirty) && 
                                               !passwordVar.valid }">
              Password
            </label>

            <div class="col-md-8">
              <input class="form-control"
                     id="passwordId"
                     type="password"
                     placeholder="Password (required)"
                     required
                     ngModel
                     name="password"
                     #passwordVar="ngModel"
                     [ngClass]="{'is-invalid': (passwordVar.touched || 
                                                passwordVar.dirty) && 
                                                !passwordVar.valid }" />
              <span class="invalid-feedback">
                <span *ngIf="passwordVar.errors?.['required']">
                  Password is required.
                </span>
              </span>
            </div>
          </div>

          <div class="row">
            <div class=" offset-md-2 col-md-4">
              <button class="btn btn-primary me-1"
                      type="submit"
                      style="width:80px"
                      [disabled]="!loginForm.valid">
                Log In
              </button>
              <button class="btn btn-outline-secondary"
                      (click)="cancel()">
                Cancel
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="alert alert-danger"
       *ngIf="errorMessage">
    Error: {{errorMessage}}
  </div>