<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <form novalidate
          #productEditForm="ngForm"
          (ngSubmit)="saveProduct()">
      <fieldset *ngIf="product">
        <div class="row mb-3">
          <label class="col-md-2 form-label"
                 for="productNameId"
                 [ngClass]="{'text-danger': (productNameVar.touched || 
                              productNameVar.dirty || product.id !== 0) && 
                              !productNameVar.valid }">
            Product Name
          </label>

          <div class="col-md-8">
            <input class="form-control"
                   id="productNameId"
                   type="text"
                   placeholder="Name (required)"
                   required
                   minlength="3"
                   [(ngModel)]=product.productName
                   name="productName"
                   #productNameVar="ngModel"
                   [ngClass]="{'is-invalid': (productNameVar.touched || 
                              productNameVar.dirty || product.id !== 0) && 
                              !productNameVar.valid }" />
            <span class="invalid-feedback">
              <span *ngIf="productNameVar.errors?.['required']">
                Product name is required.
              </span>
              <span *ngIf="productNameVar.errors?.['minlength']">
                Product name must be at least three characters.
              </span>
            </span>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-md-2 form-label"
                 for="productCodeId"
                 [ngClass]="{'text-danger': (productCodeVar.touched || 
                                             productCodeVar.dirty || product.id !== 0) && 
                                             !productCodeVar.valid }">
            Product Code
          </label>

          <div class="col-md-8">
            <input class="form-control"
                   id="productCodeId"
                   type="text"
                   placeholder="Code (required)"
                   required
                   [(ngModel)]=product.productCode
                   name="productCode"
                   #productCodeVar="ngModel"
                   [ngClass]="{'is-invalid': (productCodeVar.touched || 
                                              productCodeVar.dirty || product.id !== 0) && 
                                              !productCodeVar.valid }" />
            <span class="invalid-feedback">
              <span *ngIf="productCodeVar.errors?.['required']">
                Product code is required.
              </span>
            </span>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-md-2 form-label"
                 for="descriptionId">Description</label>

          <div class="col-md-8">
            <textarea class="form-control"
                      id="descriptionId"
                      placeholder="Description"
                      rows="3"
                      [(ngModel)]="product.description"
                      name="description">
            </textarea>
          </div>
        </div>

        <div class="row">
          <div class="offset-md-2 col-md-8 ">
            <button class="btn btn-primary me-1"
                    type="submit"
                    style="width:80px"
                    [disabled]="!productEditForm.valid">
              Save
            </button>
            <button class="btn btn-outline-secondary me-1"
                    type="button"
                    style="width:80px"
                    (click)="cancel()">
              Cancel
            </button>
            <button class="btn btn-outline-secondary"
                    type="button"
                    style="width:80px"
                    (click)="deleteProduct()">
              Delete
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<div class='alert alert-danger'
     *ngIf='errorMessage'>
  Error: {{ errorMessage }}
</div>